div.app-container
    h1 {{ message }}
    div(style="margin-bottom: 1em;")
      span  Row height:
      input(ref="rowHeight", type="number", :value="rowHeight")
      span  Row count:
      input(ref="rowCount", type="number", :value="items.length")
      input(type="button", value="update", @click="updateParams", style="margin-left: 1em;")

    vtable(id="main-list", :items="items", :row-height="rowHeight", :header-height="20", :columns="columns",
           :get-row-class="getRowClass", :row-style-cycle="2", :get-item-key="getItemKey",
           @rowclick="onRowClick")
                template(slot="cell", scope="p")
                    template(v-if="p.columnId === 'id'")
                        input(type="checkbox", :checked="p.item.checked",
                              @change="setChecked(p.item, $event.target.checked)")
                        | {{ getLabel(p.item, p.index) }}
                    template(v-else-if="p.columnId === 'name'")
                        | {{ p.item.name }}
                    template(v-else)
                        | {{ p.columnId }}({{ p.item.id }})

