div.vlist-container(:style="[containerStyle]")
    div.vlist-header-row(:style="headerStyle")
        slot(name="header")
    div.vlist-scrollable(ref="scrollable", :style="scrollableStyle", @scroll="onScroll")
        resize-sensor(:debounce="50", @resized="updateBodySize")
        div.vlist-content(ref="content", :style="contentStyle")
            div.vlist-spacer(:style="spacerStyle")
            div.vlist-row(v-for="(item, index) in renderedItems", :key="getItemKey(item)", :style="rowStyle",
                @click="onRowEvent('click', item, index, $event)",
                @dblclick="onRowEvent('dblclick', item, index, $event)",
                @dragenter="onRowEvent('dragenter', item, index, $event)",
                @dragleave="onRowEvent('dragleave', item, index, $event)",
                @dragstart="onRowEvent('dragstart', item, index, $event)",
                @dragend="onRowEvent('dragend', item, index, $event)",
                @dragover="onRowEvent('dragover', item, index, $event)",
                @drop="onRowEvent('drop', item, index, $event)")
                    component(:is="rowComponent", :item="item", :index="index + firstIndex",
                          :height="rowHeight", :ctx="ctx")
