div.vlist-container(:style="[containerStyle, style]")
    div.vlist-header-row(v-if="hasHeader", :style="headerStyle")
        slot(name="header")
    div.vlist-scrollable(v-el:scrollable, :style="scrollableStyle", @scroll="onScroll")
        resize-sensor(:debounce="50", @resized="updateBodySize")
        div.vlist-body(:style="bodyStyle")
            resize-sensor(:debounce="50", @resized="updateBodySize")
            div(:style="spacerStyle")
            div.vlist-row(v-for="item in renderedItems", track-by="$index", :style="rowStyle",
                          @click="onRowClick(item, $index + range.first, $event)")
                component(:is="rowComponent", :item="item", :index="$index + range.first", :height="rowHeight", :ctx="ctx")
