<div class="vlist-container" :style="[containerStyle, style]">
    <div v-if="hasHeader" class="vlist-header-row" :style="headerStyle">
        <slot name="header"></slot>
    </div>
    <div v-el:scrollable class="vlist-scrollable" :style="scrollableStyle" @scroll="onScroll">
        <resize-sensor :debounce="50" @resized="updateBodySize">
        </resize-sensor>
        <div v-el:content class="vlist-content" :style="contentStyle">
            <resize-sensor :debounce="50" @resized="contentSizeChanged">
            </resize-sensor>
            <div :style="spacerStyle">
            </div>
            <div v-for="item in renderedItems" :track-by="rowTrackBy" class="vlist-row" :style="rowStyle" @click="onRowClick(item, $index + firstIndex, $event)">
                <component :is="rowComponent" :item="item" :index="$index + firstIndex" :height="rowHeight" :ctx="ctx">
                </component>
            </div>
        </div>
    </div>
</div>
