div(:class="ctx.getRowClass(item, index)", :style="rowStyle")
    vtablecell(
        v-for="c in ctx.columns",
        :item="item",
        :index="index",
        :column-index="$index",
        :height="height",
        :ctx="ctx")
