div.vtable-container(:style="containerStyle")
    vlist(v-ref:vlist,
          :style="{ flex: '1 1 auto' }",
          :row-height="rowHeight",
          :header-component="$options.components.vtableheader",
          :row-component="$options.components.vtablerow",
          :items="items",
          :row-style-cycle="rowStyleCycle",
          :min-width="layout.contentWidth",
          :ctx="listCtx",
          @scroll="updateScrollPosition",
          @body-resize="updateBodySize",
          @row-click="$emit('row-click', $arguments[0])")

        div.vtable-header(slot="header", v-el:header, :style="headerStyle")
            resize-sensor(:debounce="50", @resized="updateBodySize")
            div.vtable-header-cell(
                v-for="c in columns", :class="c.className",
                :style="headerCellStyle(listCtx.widths[$index])") {{ c.title }}

    div(v-for="pos in splitter.positions",
        :class="$index === draggingSplitter ? 'vtable-dragging-splitter' : 'vtable-splitter'",
        :style="splitterStyle(pos)", @mousedown="onSplitterMouseDown($index, $event)")
