div(:class="ctx.getRowClass(item, index)", :style="rowStyle")
    template(v-for="(c, columnIndex) in ctx.columns")
        vtablecell(
            :item="item",
            :index="index",
            :column-index="columnIndex",
            :height="height",
            :ctx="ctx")
        vtablesplitter(:index="columnIndex", :ctx="ctx")

