<div class="vtable-container" :style="containerStyle">
    <vlist v-ref:vlist="v-ref:vlist"
           :style="{ flex: '1 1 auto' }"
           :row-height="rowHeight"
           :row-component="$options.components.vtablerow"
           :items="items"
           :row-style-cycle="rowStyleCycle"
           :min-width="layout.contentWidth"
           :ctx="listCtx"
           @scroll="updateScrollPosition"
           @body-resize="updateBodySize"
           @row-click="$emit('row-click', $arguments[0])">

        <div slot="header" v-el:header="v-el:header" class="vtable-header" :style="headerStyle">
            <resize-sensor :debounce="50" @resized="updateBodySize">
            </resize-sensor>
            <div v-for="c in columns" class="vtable-header-cell" :class="c.className" :style="headerCellStyle(listCtx.widths[$index])">
                {{ c.title }}
            </div>
        </div>
    </vlist>
    <div v-for="pos in splitter.positions"
         :class="$index === splitter.dragging ? 'vtable-dragging-splitter' : 'vtable-splitter'"
         :style="splitterStyle(pos)"
         @mousedown="onSplitterMouseDown($index, $event)">
    </div>
</div>
